
img{
    border-radius: 1cm;
    height: 1.2cm;
    width: 1.2cm;
}
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  
  nav ul li:hover .submenu {
    display: block;
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
  }
  .container{
    padding-top: 2.5cm;
   
    max-width: max-content;
    
  }
  .header{
    max-width: max-content;
    height: 9cm;
    width: 9cm;
    border-radius: 1.5cm;
    background-color: #1300cd;
    text-align: center;
    font-size: 35px;
    color: white;
    padding-top: 1cm;
    margin-left: 35%;
    
  }
.column1{
    height: 7cm;
    width: 8cm;
    border-radius: 1cm;
    padding-left: 12.5cm;
    position: absolute;

}
.column1 img{
    
    height: 7cm;
    width: 8cm;
    border-radius: 1cm;

}

.column2{
    height: 7cm;
    width: 8cm;
    border-radius: 1cm;
   padding-left: 1cm;
    position: absolute;
    
}

.column2 img{
    
    height: 7cm;
    width: 8cm;
    border-radius: 1cm;
}
.column3{
    height: 7cm;
    width: 8cm;
    padding-left: 24cm;
    position: absolute;
    border-radius: 1cm;
    
}
.column3 img{
    
    height: 7cm;
    width: 8cm;
    border-radius: 1cm;
    
}
