.sidebar{
    background-color:  #00008b;
    width: 11%;
    padding-top: 5%;
    height: 100vh;
    position: absolute;
    z-index: 4;

}
.sidebar ul li{
    list-style: none;
}

.sidebar ul li a{
    text-decoration: none;
    color: white;
}
.main{
    height: 100vh;
    width: 90vw;
    padding-left: 12%;
    position: absolute;
    
}
.label{
   
}